*{
  max-width: 1250px;
  max-height: 550px;
  
  
}
#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  position: relative;
  left: 6%;
  transform: rotateY(180deg);
  transition: 0.25s;

}

h1{
  position: relative;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#container{
  background-color: aliceblue;
  width: 1200px;
  height: 550px;
  border-radius: 10%;

}
button{
display: inline;
position: relative;
left: 50%;
font-family: monospace;
}
